.mainbox
  = render partial:"resistration_header"

  .registcontents
    .box
      .box__formarea
        .box__tittle
          アカウントをお持ちでない方はこちら
        .btnlist
          =link_to '/' do
            .btnlist__list--resistration
              新規会員登録
        -# .formarea__underbar
      .box__formarea
        .btnlist
          =link_to '/' do
            .btnlist__list--facebook
              %p Facebookでログイン
              =fa_icon 'facebook-square'
          =link_to '/' do
            .btnlist__list--google
              %p Googleでログイン
              =image_tag "icons/google-icon.png"
      .box__formarea
        .formbox
          .formbox__text
          %input.form{placeholder:'メールアドレス'}
        .formbox
          .formbox__text
          %input.form{placeholder:'パスワード'}
      .box__formarea
        .robot
          =image_tag "robot.png"
        .submit
          ログイン
        .link
          =link_to 'パスワードをお忘れの方'


  =render partial:"resistration_shortfooter"
