- breadcrumb :card
.mypage-wrapper
  .mypage.clearfix
    = render '/mypage/nav'
    .mypage__content
      %section.mypage-payment
        .mypage-payment--head.head-center
          支払い方法
        .payment-info
          .payment-info__card
            .payment-info__card--head
              クレジットカード一覧
            - if true
              %ul.payment-info__list
                %li
                  %form{class:"cardform", action:"/mypage/card/delete/", method:"POST"}
                    =image_tag "card-logo/visa.svg", width:"49", height:"15", alt:"visa"
                    %input{type:"hidden", name:"__csrf_value", value:"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"}
                    %input{type:"hidden", name:"card_sequence_no", value:"xxxxxxxxxxxxxxxxxxxxxxxx"}
                    .cardform--num<
                      ************ABCD
                    .cardform--num<
                      12 / 31
                    %input{type:"hidden", name:"method", value:"card"}
                    %button{type:"submit", class:"cardform--submit"}
                      削除する
            - else
              .payment-info__card--add-btn
                = link_to "card-add", class:"red-btn" do
                  =fa_icon 'credit-card'
                  クレジットカードを追加する
          .payment-info--notregist
            =link_to "/help_center/category/6/", target:"_blank" do
              支払い方法について
              =fa_icon 'chevron-right'
