- breadcrumb :completed
.mypage-wrapper
  .mypage.clearfix
    = render '/mypage/nav'
    .mypage__content
      %section.mypage__listing
        .mypage__listing--head
          出品した商品
        %ul.listing__select
          %li
            =link_to "/mypage/listings/listing/" do
              出品中
          %li
            =link_to "/mypage/listings/in_progress/"do
              取引中
          %li.active
            =link_to "#mypage-tab-transaction-old", "data-toggle": "tab" do
              売却済み
        .listing__content
          %ul#mypage-tab-transaction-now
            = render partial: "listings-list", locals: {products: @user.products.where(trade_status: 2)}
      %ul.mypage__history
        %li.mypage__history--prev
          = link_to "/mypage/listings/completed" do
            =fa_icon 'chevron-left'
        %li.mypage__history--next
          = link_to "/mypage/listings/completed" do
            =fa_icon 'chevron-right'