.banner
  .banner__area
    .banner__title
      スマホで かんたん<br>
      フリマアプリ
    .banner__description
      Fmarketはスマホカメラからすぐに出品できる<br>
      購入時も安心な独自システムのアプリです
    .banner__authentication
      =link_to"#"do
        =image_tag "/top_page/appstore.png", class: "appstore-btn"
      =link_to"#"do
        =image_tag "/top_page/google.png", class: "googleplay-btn"