.banner
  .banner_width
    .banner_title
      スマホで かんたん<br>
      フリマアプリ
    .banner_description
      Fmarketはスマホカメラからすぐに出品できる<br>
      購入時も安心な独自システムのアプリです
    .banner_authentication
      .btn_app-store
        =image_tag "/top_page/appstore.png", class: "appstore_btn"
      .btn_google
        =image_tag "/top_page/google.png", class: "googleplay_btn"