.banner
  .textarea
    .textarea__title
      スマホで かんたん<br>
      フリマアプリ
    .textarea__description
      Fmarketはスマホカメラからすぐに出品できる<br>
      購入時も安心な独自システムのアプリです
    .textarea__authentication
      =link_to"#"do
        =image_tag "/top_page/appstore.png", class: "appstore-btn"
      =link_to"#"do
        =image_tag "/top_page/google.png", class: "googleplay-btn"