.banner
  .text-area
    .text-area__title
      スマホで かんたん<br>
      フリマアプリ
    .text-area__description
      Fmarketはスマホカメラからすぐに出品できる<br>
      購入時も安心な独自システムのアプリです
    .text-area__authentication
      =link_to"#"do
        =image_tag "icons/appstore.png", class: "appstore-btn"
      =link_to"#"do
        =image_tag "icons/google.png", class: "googleplay-btn"