.new-item
  .new-item__area
    .item-header
      .item-header__title
        シャネル新着アイテム
      .item-header__view-more
        もっと見る＞
    .item-index
      .contents
        .contents__img
          =image_tag "/top_page/item.jpg", class: "contents__img"
          .contents__price
            ￥1,600
        .contents__text
          新品　NIKE AIR JORDAN1
      .contents
        .contents__img
          =image_tag "/top_page/item.jpg", class: "contents__img"
          .contents__price
            ￥1,600
        .contents__text
          新品　NIKE AIR JORDAN1

    .item-header
      .item-header__title
        ルイヴィトン新着アイテム
      .item-header__view-more
        もっと見る＞
    .item-index
      .contents
        .contents__img
          =image_tag "/top_page/item.jpg", class: "contents__img"
          .contents__price
            ￥1,600
        .contents__text
          新品　NIKE AIR JORDAN1
      .contents
        .contents__img
          =image_tag "/top_page/item.jpg", class: "contents__img"
          .contents__price
            ￥1,600
        .contents__text
          新品　NIKE AIR JORDAN1

    .item-header
      .item-header__title
        シュプリーム新着アイテム
      .item-header__view-more
        もっと見る＞
    .item-index
      .contents
        .contents__img
          =image_tag "/top_page/item.jpg", class: "contents__img"
          .contents__price
            ￥1,600
        .contents__text
          新品　NIKE AIR JORDAN1
      .contents
        .contents__img
          =image_tag "/top_page/item.jpg", class: "contents__img"
          .contents__price
            ￥1,600
        .contents__text
          新品　NIKE AIR JORDAN1

    .item-header
      .item-header__title
        ナイキ新着アイテム
      .item-header__view-more
        もっと見る＞
    .item-index
      .contents
        .contents__img
          =image_tag "/top_page/item.jpg", class: "contents__img"
          .contents__price
            ￥1,600
        .contents__text
          新品　NIKE AIR JORDAN1
      .contents
        .contents__img
          =image_tag "/top_page/item.jpg", class: "contents__img"
          .contents__price
            ￥1,600
        .contents__text
          新品　NIKE AIR JORDAN1