-# =====人気のカテゴリー=============================
.new-item
  .new-item__area
    .item-header
      .item-header__title
        レディース新着アイテム
      .item-header__view-more
        もっと見る＞
    .item-index
      - @products.each do |product|
        -product_image = Image.find_by(product_id: product.id)
        .contents
          .contents__img{style: "background-image: url(#{product_image.image});"}
            .contents__price
              = "¥,#{product.price}"
          .contents__text
            = product.item_name

    .item-header
      .item-header__title
        メンズ新着アイテム
      .item-header__view-more
        もっと見る＞
    .item-index
      .contents
        .contents__img
          =image_tag "/top_page/item.jpg", class: "contents__img"
          .contents__price
            ￥1,600
        .contents__text
          新品　NIKE AIR JORDAN1

      .contents
        .contents__img
          =image_tag "/top_page/item.jpg", class: "contents__img"
          .contents__price
            ￥1,600
        .contents__text
          新品　NIKE AIR JORDAN1

    .item-header
      .item-header__title
        家電・スマホ・カメラ新着アイテム
      .item-header__view-more
        もっと見る＞
    .item-index
      .contents
        .contents__img
          =image_tag "/top_page/item.jpg", class: "contents__img"
          .contents__price
            ￥1,600
        .contents__text
          新品　NIKE AIR JORDAN1

      .contents
        .contents__img
          =image_tag "/top_page/item.jpg", class: "contents__img"
          .contents__price
            ￥1,600
        .contents__text
          新品　NIKE AIR JORDAN1

    .item-header
      .item-header__title
        おもちゃ・ホビー・グッズ新着アイテム
      .item-header__view-more
        もっと見る＞
    .item-index
      .contents
        .contents__img
          =image_tag "/top_page/item.jpg", class: "contents__img"
          .contents__price
            ￥1,600
        .contents__text
          新品　NIKE AIR JORDAN1

      .contents
        .contents__img
          =image_tag "/top_page/item.jpg", class: "contents__img"
          .contents__price
            ￥1,600
        .contents__text
          新品　NIKE AIR JORDAN1