-# =====人気のカテゴリー=============================
.new-item
  .new-item__area
    .new-item__header
      .title
        レディース新着アイテム
      .view-more
        もっと見る＞
    .new-item__index
      .contents
        .contents__img
          =image_tag "/top_page/item.jpg", class: "contents__img"
          .contents__price
            ￥1,600
        .contents__text
          新品　NIKE AIR JORDAN1

      .contents
        .contents__img
          =image_tag "/top_page/item.jpg", class: "contents__img"
          .contents__price
            ￥1,600
        .contents__text
          新品　NIKE AIR JORDAN1

    .new-item__header
      .title
        メンズ新着アイテム
      .view-more
        もっと見る＞
    .new-item__index
      .contents
        .contents__img
          =image_tag "/top_page/item.jpg", class: "contents__img"
          .contents__price
            ￥1,600
        .contents__text
          新品　NIKE AIR JORDAN1

      .contents
        .contents__img
          =image_tag "/top_page/item.jpg", class: "contents__img"
          .contents__price
            ￥1,600
        .contents__text
          新品　NIKE AIR JORDAN1

    .new-item__header
      .title
        家電・スマホ・カメラ新着アイテム
      .view-more
        もっと見る＞
    .new-item__index
      .contents
        .contents__img
          =image_tag "/top_page/item.jpg", class: "contents__img"
          .contents__price
            ￥1,600
        .contents__text
          新品　NIKE AIR JORDAN1

      .contents
        .contents__img
          =image_tag "/top_page/item.jpg", class: "contents__img"
          .contents__price
            ￥1,600
        .contents__text
          新品　NIKE AIR JORDAN1

    .new-item__header
      .title
        おもちゃ・ホビー・グッズ新着アイテム
      .view-more
        もっと見る＞
    .new-item__index
      .contents
        .contents__img
          =image_tag "/top_page/item.jpg", class: "contents__img"
          .contents__price
            ￥1,600
        .contents__text
          新品　NIKE AIR JORDAN1

      .contents
        .contents__img
          =image_tag "/top_page/item.jpg", class: "contents__img"
          .contents__price
            ￥1,600
        .contents__text
          新品　NIKE AIR JORDAN1