-# =====人気のカテゴリー=============================
.new_item
  .new_item_width
    .new_item_header
      .new_item_title
        レディース新着アイテム
      .new_item_view-more
        もっと見る＞
    .new_item_index
      .new_item_contents
        .contents_img
          =image_tag "/top_page/item.jpg", class: "contents_img"
          .contents_price
            ￥1,600
        .contents_text
          新品　NIKE AIR JORDAN1

      .new_item_contents
        .contents_img
          =image_tag "/top_page/item.jpg", class: "contents_img"
          .contents_price
            ￥1,600
        .contents_text
          新品　NIKE AIR JORDAN1

    .new_item_header
      .new_item_title
        メンズ新着アイテム
      .new_item_view-more
        もっと見る＞
    .new_item_index
      .new_item_contents
        .contents_img
          =image_tag "/top_page/item.jpg", class: "contents_img"
          .contents_price
            ￥1,600
        .contents_text
          新品　NIKE AIR JORDAN1

      .new_item_contents
        .contents_img
          =image_tag "/top_page/item.jpg", class: "contents_img"
          .contents_price
            ￥1,600
        .contents_text
          新品　NIKE AIR JORDAN1

    .new_item_header
      .new_item_title
        家電・スマホ・カメラ新着アイテム
      .new_item_view-more
        もっと見る＞
    .new_item_index
      .new_item_contents
        .contents_img
          =image_tag "/top_page/item.jpg", class: "contents_img"
          .contents_price
            ￥1,600
        .contents_text
          新品　NIKE AIR JORDAN1

      .new_item_contents
        .contents_img
          =image_tag "/top_page/item.jpg", class: "contents_img"
          .contents_price
            ￥1,600
        .contents_text
          新品　NIKE AIR JORDAN1

    .new_item_header
      .new_item_title
        おもちゃ・ホビー・グッズ新着アイテム
      .new_item_view-more
        もっと見る＞
    .new_item_index
      .new_item_contents
        .contents_img
          =image_tag "/top_page/item.jpg", class: "contents_img"
          .contents_price
            ￥1,600
        .contents_text
          新品　NIKE AIR JORDAN1

      .new_item_contents
        .contents_img
          =image_tag "/top_page/item.jpg", class: "contents_img"
          .contents_price
            ￥1,600
        .contents_text
          新品　NIKE AIR JORDAN1