.footer
  .footer__image
    .image_width
      .download_messages
        .download_messages__top
          スマホでかんたんフリマアプリ
        .download_messages__down
          今すぐ無料ダウンロード！
      .download_btns
        =image_tag "/SVG/logo_white.svg", class: "fmarket_btn"
        =image_tag "/top_page/appstore.png", class: "appstore_btn"
        =image_tag "/top_page/google.png", class: "googleplay_btn"
  .footer__information   
    .information_width
      .guide_contents

        .guide_fmarket
          .guide_title
            Fmarketについて
          .guide_list
            .guide_item
              会社概要(運営会社)
            .guide_item
              採用情報
            .guide_item
              プレスリリース
            .guide_item
              公式ブログ
            .guide_item
              Fmarketロゴ利用ガイドライン
            .guide_item_logomark
              =fa_icon"twitter", class: "footer-guide_fmarket_list_logomark_twitter"
              =fa_icon"facebook-square", class: "footer-guide_fmarket_list_logomark_facebook"

        .guide_help
          .guide_title
            ヘルプ＆ガイド
          .guide_list
            .guide_item
              Fmarketガイド
            .guide_item
              らくらくFmarket便
            .guide_item
              ゆうゆうFmarket便
            .guide_item
              大型Fmarket便
            .guide_item
              車体取引ガイド
            .guide_item
              Fmarketあんしん・あんぜん宣言！
            .guide_item
              偽ブランド品撲滅への取り組み
            .guide_item
              Fmarketボックス

        .guide_rule
          .guide_title
            プライバシーと利用規約
          .guide_list
            .guide_item
              プライバシーポリシー
            .guide_item
              Fmarket利用規約
            .guide_item
              あんしんスマホサポート生後に関する利用規約
            .guide_item
              コンプライアンスポリシー
            .guide_item
              個人データの安全管理に係る基本方針
            .guide_item
              特定商取引に関する表記
            .guide_item
              資金決済法に基づく表示
            .guide_item
              法令順守と犯罪抑止のために

        .guide_Country
          .guide_title
            国
          .guide_list
            .guide_item
              日本
            .guide_item
              United States
            
            .footer__bottom
              .bottom_contents
              =image_tag "/SVG/logo_white.svg", class: "bottom_contents_logo"
              .bottom_contents_copy-right
                ©2019 Fmarket