.footer
  .footer__image
    .contents-area
      .messages
        .messages__top
          スマホでかんたんフリマアプリ
        .messages__bottom
          今すぐ無料ダウンロード！
      .download-btns
        =image_tag "/SVG/logo_white.svg", class: "fmarket-btn"
        =image_tag "/top_page/appstore.png", class: "appstore-btn"
        =image_tag "/top_page/google.png", class: "googleplay-btn"
  .footer__information   
    .information__area
      .information-contents

        .information-contents__fmarket
          .title
            Fmarketについて
          .list
            .item
              会社概要(運営会社)
            .item
              採用情報
            .item
              プレスリリース
            .item
              公式ブログ
            .item
              Fmarketロゴ利用ガイドライン
            .item__logomark
              =fa_icon"twitter", class: "footer-guide_fmarket_list_logomark_twitter"
              =fa_icon"facebook-square", class: "footer-guide_fmarket_list_logomark_facebook"

        .information-contents__help
          .title
            ヘルプ＆ガイド
          .list
            .item
              Fmarketガイド
            .item
              らくらくFmarket便
            .item
              ゆうゆうFmarket便
            .item
              大型Fmarket便
            .item
              車体取引ガイド
            .item
              Fmarketあんしん・あんぜん宣言！
            .item
              偽ブランド品撲滅への取り組み
            .item
              Fmarketボックス

        .information-contents__rule
          .title
            プライバシーと利用規約
          .list
            .item
              プライバシーポリシー
            .item
              Fmarket利用規約
            .item
              あんしんスマホサポート生後に関する利用規約
            .item
              コンプライアンスポリシー
            .item
              個人データの安全管理に係る基本方針
            .item
              特定商取引に関する表記
            .item
              資金決済法に基づく表示
            .item
              法令順守と犯罪抑止のために

        .information-contents__country
          .title
            国
          .list
            .item
              日本
            .item
              United States
            
            .footer__bottom
              .logo
              =image_tag "/SVG/logo_white.svg", class: "logo"
              .copy-right
                ©2019 Fmarket