.footer
  .footer_downloads
    .footer-width
      .footer_downloads_messages
        .footer_downloads_messages-top
          スマホでかんたんフリマアプリ
        .footer_downloads_messages-down
          今すぐ無料ダウンロード！
      .footer_downloads_btns
        =image_tag "/SVG/logo_white.svg", class: "footer_downloads_btns_fmarket"
        =image_tag "/top_page/appstore.png", class: "footer_downloads_btns_appstore"
        =image_tag "/top_page/google.png", class: "footer_downloads_btns_googleplay"
  .footer_black   
    .footer-guide_width
      .footer-guide

        .footer-guide_fmarket
          .footer-guide_title
            Fmarketについて
          .footer-guide_list
            .footer-guide_list_contents
              会社概要(運営会社)
            .footer-guide_list_contents
              採用情報
            .footer-guide_list_contents
              プレスリリース
            .footer-guide_list_contents
              公式ブログ
            .footer-guide_list_contents
              Fmarketロゴ利用ガイドライン
            .footer-guide_list_logomark
              =fa_icon"twitter", class: "footer-guide_fmarket_list_logomark_twitter"
              =fa_icon"facebook-square", class: "footer-guide_fmarket_list_logomark_facebook"

        .footer-guide_help
          .footer-guide_title
            ヘルプ＆ガイド
          .footer-guide_list
            .footer-guide_list_contents
              Fmarketガイド
            .footer-guide_list_contents
              らくらくFmarket便
            .footer-guide_list_contents
              ゆうゆうFmarket便
            .footer-guide_list_contents
              大型Fmarket便
            .footer-guide_list_contents
              車体取引ガイド
            .footer-guide_list_contents
              Fmarketあんしん・あんぜん宣言！
            .footer-guide_list_contents
              偽ブランド品撲滅への取り組み
            .footer-guide_list_contents
              Fmarketボックス

        .footer-guide_rule
          .footer-guide_title
            プライバシーと利用規約
          .footer-guide_list
            .footer-guide_list_contents
              プライバシーポリシー
            .footer-guide_list_contents
              Fmarket利用規約
            .footer-guide_list_contents
              あんしんスマホサポート生後に関する利用規約
            .footer-guide_list_contents
              コンプライアンスポリシー
            .footer-guide_list_contents
              個人データの安全管理に係る基本方針
            .footer-guide_list_contents
              特定商取引に関する表記
            .footer-guide_list_contents
              資金決済法に基づく表示
            .footer-guide_list_contents
              法令順守と犯罪抑止のために

        .footer-guide_Country
          .footer-guide_title
            国
          .footer-guide_list
            .footer-guide_list_contents
              日本
            .footer-guide_list_contents
              United States
            
            .footer_bottom
              .footer_bottom_contents
              =image_tag "/SVG/logo_white.svg", class: "footer_bottom_contents_logo"
              .footer_bottom_contents_copy-right
                ©2019 Fmarket