.header-wrapper
  .header
    .header__logo-search
      =link_to root_path do
        =image_tag "svg/fmarket_logo_red.svg", class: "header__logo-search--logo"
      %form.header__form
        %input{name:params[:name],placeholder:"何かお探しですか",id:'search_field',class:'search'}
          =link_to '',  search_products_path(id:'name'),id:'search_link'

          %i.fa.fa-search
    .header-lists
      %ul.header-lists__left
        %li.header__item(class="header-category")
          =link_to "/#" ,class:"header__item--link parent" do
            =fa_icon'list-ul', class:"parent"
            カテゴリーから探す
        %li.header__item(class="header-brand")
          =link_to "/#",class:"header__item--link parent" do
            =fa_icon 'tags', class:"parent"
            ブランドから探す

      %ul.header-lists__right
        - if user_signed_in?
          %li.header__item(id="header-nice")
            =link_to "/mypage/nice/history/",class:"header__item--link" do
              =fa_icon 'heart'
              いいね！一覧
          %li.header__item(id="header-news")
            =link_to "/mypage/notification/",class:"header__item--link" do
              =fa_icon'bell'
              お知らせ
          %li.header__item(id="header-todo")
            =link_to "/mypage/todo/",class:"header__item--link" do
              =fa_icon'check'
              やることリスト
          %li.header__item(id="header-mypage")
            =link_to "/mypage",class:"header__item--link" do
              =fa_icon'user'
              マイページ
        - else
          %li.header__item(id="registration_btn")
            =link_to "/signup",class:"header__item--registration" do
              新規会員登録
          %li.header__item(id="log_in_btn")
            =link_to "/users/sign_in",class:"header__item--log_in" do
              ログイン

        .box-area
          .category-box(class="header-category")
            .category-box__list
              -@parent_categories = Category.where(id: 1..13).order("created_at ASC")
              -@parent_categories.each do |parent_category|
                =link_to "/category/#{parent_category.id}" do
                  %li< #{parent_category.name}              
        .box-area
          .brand-box(class="header-brand")
            .brand-box__list
              =link_to "/brand/2447" do
                %li< シャネル
              =link_to "/brand/3813" do
                %li< ナイキ
              =link_to "/brand/6155" do
                %li< ルイヴィトン
              =link_to "/brand/8413" do
                %li< シュプリーム
  
    

  = render "layouts/breadcrumbs"


-# =====今後の実装で使います＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
-#   .header__logo-search.clearfix
-#     =image_tag "/SVG/fmarket_logo_red.svg", class: "logo-search__logo "
-#     %form.header-form
-#       %input{value:"", placeholder:"何かお探しですか？" }
-#       %i.fa.fa-search
-#   .headerlists.clearfix
-#     .header-lists__left
-#       .header__item(id= "header-category" )
-#         = link_to "#" do
-#           =fa_icon'list-ul'
-#           %apan カテゴリーから探す
-#           .box-area
-#             .category-box
-#               .category-box__list
-#                 %li< レディス
-#                 %li< メンズ
-#                 %li< ベビー・キッズ
-#                 %li< インテリア・住まい・小物

-#       .header-lists__left--title(id= "header-brand")
-#         = link_to "#" do
-#           =fa_icon 'tags'
-#           %apan ブランドから探す
-#           .box-area
-#             .brand-box
-#               .brand-box__list
-#                 %li< シャネル
-#                 %li< ナイキ
-#                 %li< ルイヴィトン
-#                 %li< シュプリーム

-#     .header-lists__right
-#       .header-lists__right--title(id="header-nice")
-#         =link_to "#" do
-#           =fa_icon 'heart'
-#           %span いいね！一覧

-#       .header-lists__right--title(id="header-news")
-#         =link_to "#" do
-#           =fa_icon'bell'
-#           %span お知らせ
-#           .news-box
-#             =image_tag "/SVG/logo_red.svg", class: "image"
-#             .content
-#               .content__message
-#                 『シャーペン』を購入しました。発送までしばらくお待ちください。
-#               .content__day
-#                 1日前
-#       .header-lists__right--title(id="header-todo")
-#         =link_to "#" do
-#           =fa_icon'check'
-#           %span やることリスト
-#           .todo-box
-#             =image_tag "/SVG/logo_red.svg", class: "image"
-#             .content
-#               .content__message
-#                 出品者さんから『シャーペン』の取引メッセージがあります。
-#               .content__day
-#                 1日前
-#       .header-lists__right--title(id="header-mypage")
-#         =link_to "#" do
-#           =fa_icon'user'
-#           %span マイページ
