.new_item-wrapper
  .new_item
    .new_item_header
      .new_item_header_title
        レディース新着アイテム
        %new_item_header_view-more
          もっと見る＞
    .new_item_contents
      .new_item_contents_img
        .new_item_contents_img_price
          ￥1,600
      .new_item_contents_subject
        新品　NIKE AIR JORDAN1

  .new_item
    .new_item_header
      .new_item_header_title
        メンズ新着アイテム
        %new_item_header_view-more
          もっと見る＞
    .new_item_contents
      .new_item_contents_img
        .new_item_contents_img_price
          ￥5,600
      .new_item_contents_subject
        新品　NIKE AIR JORDAN1

  .new_item
    .new_item_header
      .new_item_header_title
        家電・スマホ・カメラ新着アイテム
        %new_item_header_view-more
          もっと見る＞
    .new_item_contents
      .new_item_contents_img
        .new_item_contents_img_price
          ￥10,600
      .new_item_contents_subject
        新品　NIKE AIR JORDAN1

  .new_item
    .new_item_header
      .new_item_header_title
        おもちゃ・ホビー・グッズ新着アイテム
        %new_item_header_view-more
          もっと見る＞
    .new_item_contents
      .new_item_contents_img
        .new_item_contents_img_price
          ￥10,600
      .new_item_contents_subject
        新品　NIKE AIR JORDAN1