.popular
  .popular__title
    人気のカテゴリー
  .popular__list
    %popular__contents
      レディース
    %popular__contents
      メンズ
    %popular__contents
      家電・スマホ・カメラ
    %popular__contents
      おもちゃ・ホビー・グッズ