.popular
  .popular_title
    人気のカテゴリー
  .popular_list
    %popular_contents
      レディース
    %popular_contents
      メンズ
    %popular_contents
      家電・スマホ・カメラ
    %popular_contents
      おもちゃ・ホビー・グッズ