.popular
  .popular__title
    人気のカテゴリー
  .popular__list
    .popular__content
      レディース
    .popular__content
      メンズ
    .popular__content
      家電・スマホ・カメラ
    .popular__content
      おもちゃ・ホビー・グッズ