.popupopular_category
  .popupopular_category_title
    人気のカテゴリー
  .popupopular_category_list
    %popupopular_category_list_ladies
      レディース
    %popupopular_category_list_mens
      メンズ
    %popupopular_category_list_electronic-equipment
      家電・スマホ・カメラ
    %popupopular_category_list_toys
      おもちゃ・ホビー・グッズ