
=render"homes/header"
=render"homes/banner"
=render"homes/popular_category"
=render"homes/category_contents"
=render"homes/popular_brands"
=render"homes/brands_contents"
=render"homes/footer"
=render"homes/sell-btn"
  
