.main_image
  .main_image_title
    スマホでかんたん<br>
    フリマアプリ
  .main_image_description
    メルカリはスマホカメラからすぐに出品できる<br>
    購入時も安心な独自システムのアプリです
  .main_image_authentication
    .main_image_authentication_app-store
      APP STORE
    .main_image_authentication_google
      Google Play
  
