// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  height: 55px;
  width: 1020px;
  margin: 0 auto 20px;
  padding: 8px 0 0;
  .logo-and-search {
    height: 36px;
    margin: 0;
    padding: 0;
    &__logo {
    width: 134px;
    float: left;
      img {
        width: 134px;
      }
    }
    &__search {
      position: relative;
      width: calc(100% - (134px + 16px));
      float: right;
      a {
        color: black;
      }
      input {
        width: 100%;
        height: 36px;
        padding: 9px 32px 9px 8px;
        background: #fafafa;
        border-radius: 4px;
        box-sizing: border-box;
        border: 1px solid #ccc;
      }
      i {
        position: absolute;
        top: 0;
        right: 0;
        width: 36px;
        line-height: 36px;
        cursor: pointer;
        text-align: center;
      }
    }
  }

  .header-lists {
    height: 32px;
    margin: 9px 0 0 0;
    &__left {
      float: left;
      ul{
        .header__title {
          position: relative;
          display: inline-block;
          padding-left: 30px;
          h2 {
            font-size: 13px;
            font-weight: 400;
            a {
              display: block;
              color: #333;
              text-decoration: none;
            }
          }
        }
      }
    }
    &__right {
      float: left;
      ul{
        li:first-child {padding:0 0 0 200px;}
        .header__title {
          position: relative;
          display: inline-block;
          padding-left: 30px;
          h2 {
            font-size: 13px;
            font-weight: 400;
            a {
              display: block;
              color: #333;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
.box-area{
  width: 944px;
  margin: 0 auto;

  .category-box{
    position: absolute;
    font-size: 12px;
    width: 200px;
    background-color:white;
    display: none;

    .category-box__list{
      padding: 0px;
      padding-bottom: 50px;
    }
      li{
        list-style: none;
        font-size: 13px;
        padding: 10px;
      }
  }

  .brand-box{
    position: absolute;
    margin-left: 150px;
    font-size: 12px;
    width: 200px;
    background-color:white;
    display: none;

    .brand-box__list{
      padding: 0px;
      padding-bottom: 50px;
      
    }
      li{
        list-style: none;
        font-size: 13px;
        padding: 10px;
      }
  }
  
  .news-box{
    position: absolute;
    margin-left: 570px;
    font-size: 12px;
    width: 300px;
    height:100px ;
    background-color:white;
    display: none;
    .image{
      height: 50px;
      width: 50px;
      padding:10px;
      float: left;
    }
    .content{
      padding-left: 30px;
      height: 50px;
      width: 200px;
      padding: 10px 0 0 30px;

    }
  }

  .todo-box{
    position: absolute;
    margin-left: 670px;
    font-size: 12px;
    width: 300px;
    height:100px ;
    background-color:white;
    display: none;

    .image{
      height: 50px;
      width: 50px;
      padding:10px;
      float: left;
    }
    .content{
      padding-left: 30px;
      height: 50px;
      width: 200px;
      padding: 10px 0 0 30px;

    }
  }
}      
