.header-wrapper{
  background-color: #fff;
  .header {
    width: 1020px;
    margin: 0 auto;
    padding: 8px 0 0;
    &__logo-search {
      height: 36px;
      margin: 0;
      padding: 0;
      &--logo {
      width: 134px;
      float: left;
        img {
          width: 134px;
        }
      }
    }
    &__form {
      position: relative;
      margin-left: 45px;
      width: calc(100% - (134px + 45px));
      float: right;
      input {
        width: 100%;
        height: 36px;
        padding: 9px 32px 9px 8px;
        background: #fafafa;
        border-radius: 4px;
        box-sizing: border-box;
        border: 1px solid #ccc;
      }
      .fa {
        position: absolute;
        top: 0;
        right: 0;
        width: 36px;
        line-height: 36px;
        cursor: pointer;
        text-align: center;
      }
    }
    .header-lists {
      height: 32px;
      margin: 9px 0 0 0;
      display: flex;
      justify-content: space-between;
    }
    &__item {
      position: relative;
      display: inline-block;
      padding-left: 30px;
      padding: 0 11px;
      cursor: pointer;
      line-height: 32px;
      &:first-child {padding-left: 0;}
      &--registration{
          font-size: 13px;
          color:white;
          text-decoration: none;
          background: #ea352d;
          padding:7px 9px 5px;
          border-radius: 2px;
          line-height: 10px;
      }
      &--log_in{
          font-size: 13px;
          color:#0099e8;
          text-decoration: none;
          padding:7px 9px 5px;
          border:solid 1px #0099e8;;
          border-radius: 2px;
          line-height: 10px;
      }
      &--link {
        font-size: 14px;
        font-weight: 400;
        display: block;
        color: #333;
        text-decoration: none;
        &.parent {
          font-size: 14px;
          font-weight: 700;
        }
      }
      .fa {
        font-size: 12px;
        margin-right: 4px;
        &.parent {
          color: #ea352d;
          font-size: 14px;
          font-weight: 700;
        }
      }
    }
  }
}
.box-area{
  width: 100px;

  .category-box{
    position: absolute;
    font-size: 12px;
    width: 200px;
    background-color:white;
    display: none;

    &__list{
      padding: 0px;
      padding-bottom: 50px;
    }
      li{
        list-style: none;
        font-size: 13px;
        padding: 10px;
      }
  }

  .brand-box{
    position: absolute;
    font-size: 12px;
    width: 200px;
    background-color:white;
    display: none;

    &__list{
      padding: 0px;
      padding-bottom: 50px;

    }
    li{
      list-style: none;
      font-size: 13px;
      padding: 10px;
    }
  }
}
.news-box{
  position: absolute;
  font-size: 12px;
  width: 300px;
  height:100px ;
  background-color:white;
  display: none;
  .image{
    height: 50px;
    width: 50px;
    padding:10px;
    float: left;
  }
  .content{
    padding-left: 30px;
    height: 50px;
    width: 200px;
    padding: 10px 0 0 30px;
  }
}

.todo-box{
  position: absolute;
  font-size: 12px;
  width: 300px;
  height:100px ;
  background-color:white;
  display: none;

  .image{
    height: 50px;
    width: 50px;
    padding:10px;
    float: left;
  }
  .content{
    padding-left: 30px;
    height: 50px;
    width: 200px;
    padding: 10px 0 0 30px;

  }

}
