h2.idenfitication {
  color: #333;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  padding: 8px 24px;
  text-align: center;
}

p.idenfitication {
  margin-top: 8px;
  font-size: 14px;
  color: #333333;
  font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;  
}

p.supplement {
  margin-top: 8px;
  font-size: 14px;
  color: #333333;
  font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;  
}


p.text_right {
  color: hsl(200, 100%, 45%);
  text-align: right;
  font-size: 14px;
  margin-top: 8px;
}

p.text_right ::after { 
  content: ">";
  color: #0099e8;
}

a.detail_page {
  color: #0099e8;
  text-decoration: none;
}

span.form_arbitrary {
  background-color: #ccc;
  font-size: 12px;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  vertical-align: top;
}

input.input_default {
  margin-top: 8px;
  height: 48px;
  width: 100%;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 13px;
  box-sizing: border-box;
  }

select#user_address_attributes_prefecture_id {
  background-repeat: no-repeat;
  background-size: 10px 30px;
  background-position: right 10px center;
  margin-top: 8px;
  height: 48px;
  width: 100%;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 13px;
  box-sizing: border-box;
}

label.idenfitication {
  font-size: 14px;
  font-weight: 600;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}

input.btn_red {
  background-color: red;
  color: white;
  margin: 40px 0 0;
  height: 50px;
  width: 100%;
  font-size: 14px;
}

.mypages_container {
  width: 100%;
  background-color: rgb(224, 228, 238);

  .user_information {
    width: 700px;
    background-color: white;
    border-radius: 5px;

    .idenfitication_contents {
      padding: 64px;
      border-top: 1px solid #ccc;
      
      .form_group {
        margin-top: 40px;
        
        }
      }
    }
  }
  