- breadcrumb :profile
=render "homes/sell-btn"
=form_for @user, url: profile_update_mypage_index_path do |f|
  .mypage-wrapper
    .mypage.clearfix
      =render 'mypage/nav'
      .mypage__content
        .mypage__content-title
          プロフィール
        .mypage__content-imagebox
          %section.mypage__content-imagebox-user
            =link_to mypage_index_path,  class:"mypage__content-user--link" do
              = image_tag "//static.mercdn.net/images/member_photo_noimage_thumb.png", width:"60", height:"60"
            = f.text_field :nickname, class:"mypage__content-imagebox-user--name" ,value:@user.nickname

        .mypage__content-form
          =f.text_area :user_profile, value:@user.user_profile , class:"mypage__content-form--text"
          =f.submit '変更する', class:"mypage__content-form--btn"