.mypage-wrapper
  .mypage.clearfix
    =render 'mypage/nav'
    .mypage__content
      .mypage__profile-title
        プロフィール
      .mypage__profile-imagebox
        %section.mypage__profile-user
          =link_to "ユーザーid毎のページurl",  class:"mypage__profile-user--link" do
            = image_tag "//static.mercdn.net/images/member_photo_noimage_thumb.png", width:"60", height:"60"
          %input.mypage__profile-user--name 
      .mypage__profile-formcontents
        .mypage__profile-form
          %textarea{value:"", placeholder: "例)  こんにちは☆ ご覧いただきありがとうございmす！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取り引きできるよう心がけていますので、商品や発送方法などご質問ありましたらお気軽にどうぞ♪", class:"mypage__profile-form-text"}
        .mypage__profile-btn
          =link_to '変更する'