- breadcrumb :purchased
.mypage-wrapper
  .mypage.clearfix
    = render 'nav'
    .mypage__content
      %section.mypage__transaction
        .mypage__transaction--head
          購入した商品
        %ul.transaction__select
          %li
            =link_to "/mypage/purchase", "data-toggle": "tab" do
              取引中
          %li.active
            =link_to "#mypage-tab-transaction-now", "data-toggle": "tab" do
              過去の取引
        .transaction__content
          %ul#mypage-tab-transaction-now.mypage-link--list.tab-pane
            = render partial: "purchase-list", locals: {products: @user.trade_products.where(trade_status: 1)}
          %ul#mypage-tab-transaction-now.mypage-link--list.tab-pane.active
            = render partial: "purchase-list", locals: {products: @user.trade_products.where(trade_status: 2)}