.detail-wrapper
  .item
    .item__title
      COACHショルダーバック
    .item__image
      .item__image--main
        = image_tag "#{@images[0].image}", class:"main-image"        
      .item__image--sub
        -@images.each do |image|
          = image_tag "#{image.image}", class:"img"
       
    %table.item__detail
      %tr.big
        %th.gray
          出品者
        %th.seller
          =link_to "#" ,class:"name"do
            ヒロ
          =image_tag "icons/smile-face.png",class:"face"
          %span 1
          =image_tag "icons/normal-face.png",class:"face"  
          %span 1
          =image_tag "icons/frown-face.png",class:"face"
          %span 1
      %tr.big
        %th.gray
          カテゴリー
        %th
          =link_to "#" ,class:"link"do
            レディース
          =link_to "#" ,class:"link"do
            >靴
          =link_to "#" ,class:"link"do
            >スニーカー
      %tr
        %th.gray
          ブランド
        %th.brand
          =link_to "#" ,class:"link"do
            コーチ
      %tr
        %th.gray
          商品の状態
        %th
          目立った傷や汚れなし
      %tr
        %th.gray
          配送料の負担
        %th
          送料込み(出品者負担)
      %tr
        %th.gray
          配送の方法
        %th
          ゆうゆうメルカリ便
      %tr
        %th.gray
          配送元地域
        %th
          =link_to "#" ,class:"link"do
            宮城県
      %tr
        %th.gray
          発送日の目安
        %th
          2~3日で発送
    .item__price
      ￥3,000
    .tax 
      (税込)
    .postage
      送料込み
    =link_to "#" ,class:"item__buy-btn"do
      購入画面に進む
    .caution
      この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
    .item__text
      レディースのLサイズ新品未使用です。
      自宅にて保管してありましたが、状態は非常に良いです。
      他、フリマアプリでも出品しておりますので購入をご検討の方は在庫確認のコメントをいただけると助かります。
    .item__bottom
      %p.nice-btn
        =link_to "#" do
          =fa_icon "heart"
          %span
            いいね！
      %p.report-btn
        =link_to "#" do
          =fa_icon "flag"
          %span
            不適切な商品の報告
      =link_to "#",class:"safe_and_relief" do
        =fa_icon "shopping-bag"
        あんしん・あんぜんへの取り組み

  .comment
    .comment__caution
      %span
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります
    %textarea.comment__form
    =link_to "#" ,class:"comment__btn"do
      コメントする
  .other-item
    =link_to "#" ,class:"other-item__left"do
      < EGOIST エゴイスト　デニム
    =link_to "#" ,class:"other-item__right"do
      イエナ コート チェスター 23区 ネイビー >
  .icons
    =link_to "#" do
      =image_tag "sns-logo/facebook.png",class:"icons__btn"
    =link_to "#" do
      =image_tag "sns-logo/twitter.png",class:"icons__btn"
    =link_to "#" do
      =image_tag "sns-logo/pinterest.png",class:"icons__btn"
    
  .same-seller-item
    =link_to "#",class:"title"do
      ヒロさんのその他の出品
    .products
      .products-box
        =link_to "#" do
          =image_tag "sample/product-sample.png",class:"products-box__image"
          .products-box__text
            新品/タグつき》B.C STOCK ダブルVカラーチェスターコート
          .products-box__bottom
            .price
              ¥3,000
            =fa_icon "heart",class:"nice"
            %span
              1
      .products-box
        =link_to "#" do
          =image_tag "sample/product-sample.png",class:"products-box__image"
          .products-box__text
            新品/タグつき》B.C STOCK ダブルVカラーチェスターコート
          .products-box__bottom
            .price
              ¥3,000
            =fa_icon "heart",class:"nice"
            %span
              1
      .products-box
        =link_to "#" do
          =image_tag "sample/product-sample.png",class:"products-box__image"
          .products-box__text
            新品/タグつき》B.C STOCK ダブルVカラーチェスターコート
          .products-box__bottom
            .price
              ¥3,000
            =fa_icon "heart",class:"nice"
            %span
              1
      .products-box
        =link_to "#" do
          =image_tag "sample/product-sample.png",class:"products-box__image"
          .products-box__text
            新品/タグつき》B.C STOCK ダブルVカラーチェスターコート
          .products-box__bottom
            .price
              ¥3,000
            =fa_icon "heart",class:"nice"
            %span
              1

  .similar-item
    =link_to "#",class:"title"do
      COHCH バッグ その他の出品
    .products
      .products-box
        =link_to "#" do
          =image_tag "sample/product-sample.png",class:"products-box__image"
          .products-box__text
            新品/タグつき》B.C STOCK ダブルVカラーチェスターコート
          .products-box__bottom
            .price
              ¥3,000
            =fa_icon "heart",class:"nice"
            %span
              1
      .products-box
        =link_to "#" do
          =image_tag "sample/product-sample.png",class:"products-box__image"
          .products-box__text
            新品/タグつき》B.C STOCK ダブルVカラーチェスターコート
          .products-box__bottom
            .price
              ¥3,000
            =fa_icon "heart",class:"nice"
            %span
              1
      .products-box
        =link_to "#" do
          =image_tag "sample/product-sample.png",class:"products-box__image"
          .products-box__text
            新品/タグつき》B.C STOCK ダブルVカラーチェスターコート
          .products-box__bottom
            .price
              ¥3,000
            =fa_icon "heart",class:"nice"
            %span
              1
      .products-box
        =link_to "#" do
          =image_tag "sample/product-sample.png",class:"products-box__image"
          .products-box__text
            新品/タグつき》B.C STOCK ダブルVカラーチェスターコート
          .products-box__bottom
            .price
              ¥3,000
            =fa_icon "heart",class:"nice"
            %span
              1