!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample62d
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  .header-wrapper
    .default-container
      %header
        .logo-and-search.clearfix
          =image_tag "/SVG/fmarket_logo_red.svg", class: "logo-and-search__logo left-float"
          .search
            %form.logo-and-search__search.right-float
              %input{value:"", placeholder:"何かお探しですか？" }
              %i.fa.fa-search
        .header_lists.clearfix
          .header_lists__left.left-float
            %ul
              %li.header_categories
                %h2
                  =fa_icon'list-ul'
                  カテゴリーから探す
              %li.header_brands
                %h2
                  =fa_icon 'tags'
                  ブランドから探す
              %li.header_like
                %h2
                  =fa_icon 'heart'
                  いいね！一覧

              %li.header_news
                %h2
                  =fa_icon'bell'
                  お知らせ
              %li.header_todo
                %h2
                  =fa_icon'check'
                  やることリスト
              %li.header_mypage
                %h2
                  =fa_icon'user'
                  マイページ

  .box_width
    .category_box
      .list_category
        %li< レディス
        %li< メンズ
        %li< ベビー・キッズ
        %li< インテリア・住まい・小物

  
    .brand_box
      .list_brand
        %li< シャネル
        %li< ナイキ
        %li< ルイヴィトン
        %li< シュプリーム

    .news_box
      .news_box_image
        =image_tag "/SVG/logo_red.svg", class: "top_news_image"
      .news_box_content
        .content_message
          『シャーペン』を購入しました。発送までしばらくお待ちください。
        .content_day
          1日前

    .todo_box
      .todo_box_image
        =image_tag "/SVG/logo_red.svg", class: "top_news_image"
      .todo_box_content
        .content_message
          出品者さんから『シャーペン』の取引メッセージがあります。
        .content_day
          1日前
  = yield
