.mainbox
  = render partial:"registration_header_status_4"
  .registcontents
    .box
      .box__tittle
        %h3
          会員登録完了
      .formarea
        .formbox
          .formbox__text--finish
            %p
              ありがとうございます。
              %br
              会員登録が完了しました。
        .submit
          =link_to root_path, class:"submit" do
            Fマケを始める
        .formbox
          .notice
            *電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
      .bannerarea
        =link_to '/' do
          =image_tag "other/mercari_banner2.png"
  =render partial:"registration_shortfooter"
.plusarea
