.mainbox

  = render partial:"registration_header_status_3"


  .registcontents
    .box
      .box__tittle
        %h3

          支払い方法

      .formarea
        .formbox
          .formbox__text
            .formbox__text--tittle
              カード番号
            .formbox__text--btn
              必須
          %input.form{placeholder:'半角数字のみ'}
          .formbox__cardlogo
            =image_tag "card-logo/dinners_logo.png"
            =image_tag "card-logo/discovercard_logo.jpg"
            =image_tag "card-logo/jcb.jpeg"
            =image_tag "card-logo/sesoncard.png"
            =image_tag "card-logo/visa_logo.jpg"
          .formbox
            .formbox__text
              .formbox__text--tittle
                有効期限
              .formbox__text--btn
                必須
            -# %input.form{placeholder:'半角数字のみ'}

            %select.selectform
              %option{value:"",slected:""}="月"
            %select.selectform
              %option{value:"",slected:""}="年"


          .formbox
            .formbox__text
              .formbox__text--tittle
                セキュリティコード
              .formbox__text--btn
                必須
            %input.form{placeholder:'カード背面4桁もしくは3桁の番号'}

            .link
              =link_to 'カード裏面の番号とは?','/'

          .formbox__text--notice
            本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
        .submit
          SMSを送信する
        .formbox
          .notice
            *電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。


  =render partial:"registration_shortfooter"
.plusarea
