.mainbox
  = render partial:"registration_header"
  .logincontents
    .box
      .box__tittle
        %h3 新規会員登録
      .box__formarea
        .btnlist
          =link_to registration_path do
            .btnlist__list--mail
              %p メールアドレスで登録する
              =fa_icon 'envelope-o'
          =link_to '/'  do
            .btnlist__list--facebook
              %p Facebookで登録する
              =fa_icon 'facebook-square'
          = link_to user_google_oauth2_omniauth_authorize_path, method: :post do
            .btnlist__list--google
              %p Googleで登録する
              =image_tag "icons/google-icon.png"
  = render partial:"registration_longfooter"
